@{
	ViewData["Title"] = "Lab2 Page";
}

<div class="text-center">
  <h1 class="display-4">Lab2</h1>
  <div class="radio-btn">
		<label for="checkAll">Check all</label><input type="checkbox" name="" id="checkAll">
	</div>
	<button type="submit">1</button>
	<button type="submit">2</button>
	<button type="submit">3</button>
	<button type="submit">4</button>
	<button type="submit">5</button>
	<button type="submit">6</button>
	<button type="submit">7</button>
	<button type="submit">8</button>
</div>
