@{
	ViewData["Title"] = "Lab2 Page";
}

<div class="text-center">
  <h1 class="display-4">Lab2</h1>
  <div class="radio-btn">
		<label for="checkAll">Check all</label><input type="checkbox" name="" id="checkAll">
	</div>
	<div class="button-grid">
		<button type="submit" class="button-grid__btn">1</button>
		<button type="submit" class="button-grid__btn">2</button>
		<button type="submit" class="button-grid__btn">3</button>
		<button type="submit" class="button-grid__btn">4</button>
		<button type="submit" class="button-grid__btn">5</button>
		<button type="submit" class="button-grid__btn">6</button>
		<button type="submit" class="button-grid__btn">7</button>
		<button type="submit" class="button-grid__btn">8</button>
	</div>
</div>
